bin/
obj/
out/


.vscode/

.idea/

*.user
*.suo
*.userosscache
*.sln.docstates


*.log


*.nupkg
packages/
.nuget/packages/

publish/

.DS_Store


Thumbs.db
ehthumbs.db
Desktop.ini

TestResults/


Migrations/

docker-compose.override.yml
*.dockerfile
